{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planta San José de Chuchunco</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body class="bg-gray-100">
    <!-- Spinner de carga -->
    <div id="spinner" class="fixed inset-0 bg-gray-500 bg-opacity-50 flex justify-center items-center hidden">
        <div class="animate-spin rounded-full border-t-4 border-blue-500 w-16 h-16"></div>
    </div>

    <h1 class="text-3xl font-bold text-center text-gray-700 my-6">
        Planta San José de Chuchunco
    </h1>
    <!-- Hipervínculos debajo del título -->
    <div class="text-center mb-8">
        <a href="/dashboard" class="text-blue-500 hover:underline mr-6">Dashboard</a>
        <a href="/reportes" class="text-blue-500 hover:underline mr-6">Reportes</a>
        <a href="/historicos" class="text-blue-500 hover:underline mr-8">Históricos</a>
        <a href="#" class="text-blue-500 hover:underline">Planos y documentos</a>
    </div>

<!-- Sección Funcionamiento de Pozos -->
    <h2 class="text-xl font-semibold text-gray-700 border-b-2 border-blue-500 pb-2 mt-8 mb-4">Funcionamiento de Pozos</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-4">
        <div class="bg-white shadow-lg rounded-lg p-4 border border-gray-300">
            <div id="graficoPozo1A"></div>
        </div>
        <div class="bg-white shadow-lg rounded-lg p-4 border border-gray-300">
            <div id="graficoPozo2A"></div>
        </div>
        <div class="bg-white shadow-lg rounded-lg p-4 border border-gray-300">
            <div id="graficoPozo3A"></div>
        </div>
        <div class="bg-white shadow-lg rounded-lg p-4 border border-gray-300">
            <div id="graficoPozo4A"></div>
        </div>
        <div class="bg-white shadow-lg rounded-lg p-4 border border-gray-300">
            <div id="graficoPozo5"></div>
        </div>
    </div>
    <!-- Sección Funcionamiento de Estanques -->
    <h2 class="text-xl font-semibold text-gray-700 border-b-2 border-blue-500 pb-2 mt-8 mb-4">Funcionamiento de Estanques</h2>
    <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 gap-4">
        <div class="bg-white shadow-lg rounded-lg p-4 border border-gray-300 w-full">
            <!-- Gráfico Estanque 1 -->
            <div id="graficoEstanque3000"></div>
        </div>
        <div class="bg-white shadow-lg rounded-lg p-4 border border-gray-300 w-full">
            <!-- Gráfico Estanque 2 -->
            <div id="graficoEstanque6000"></div>
        </div>
    </div>


    <!-- Sección Funcionamiento Booster -->
    <h2 class="text-xl font-semibold text-gray-700 border-b-2 border-blue-500 pb-2 mt-8 mb-4">Funcionamiento Booster</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-4">
        <div class="bg-white shadow-lg rounded-lg p-4 border border-gray-300">
            <div id="botonBooster1"></div>
        </div>
        <div class="bg-white shadow-lg rounded-lg p-4 border border-gray-300">
            <div id="botonBooster2"></div>
        </div>
        <div class="bg-white shadow-lg rounded-lg p-4 border border-gray-300">
            <div id="botonBooster3"></div>
        </div>
        <div class="bg-white shadow-lg rounded-lg p-4 border border-gray-300">
            <div id="botonBooster4"></div>
        </div>
        <div class="bg-white shadow-lg rounded-lg p-4 border border-gray-300">
            <div id="botonBooster5"></div>
        </div>
    </div>

    <script>
        function actualizarGrafico(id, data) {
            $('#' + id).html(data);
        }

        function actualizarDashboard() {
            $('#spinner').removeClass('hidden');
            
            $.ajax({
                url: "{% url 'actualizar_dashboard' %}",
                method: "GET",
                success: function(data) {
                    actualizarGrafico("graficoPozo1A", data.botonPozo1A);
                    actualizarGrafico("graficoPozo2A", data.botonPozo2A);
                    actualizarGrafico("graficoPozo3A", data.botonPozo3A);
                    actualizarGrafico("graficoPozo4A", data.botonPozo4A);
                    actualizarGrafico("graficoPozo5", data.botonPozo5);

                    actualizarGrafico("botonBooster1", data.botonBooster1);
                    actualizarGrafico("botonBooster2", data.botonBooster2);
                    actualizarGrafico("botonBooster3", data.botonBooster3);
                    actualizarGrafico("botonBooster4", data.botonBooster4);
                    actualizarGrafico("botonBooster5", data.botonBooster5);

                    actualizarGrafico("graficoEstanque3000", data.graficoEstanque3000);
                    actualizarGrafico("graficoEstanque6000", data.graficoEstanque6000);
                },
                complete: function() {
                    $('#spinner').addClass('hidden');
                }
            });
        }


        setTimeout(actualizarDashboard, 1000);  // Primera carga rápida después de 1s
        setInterval(actualizarDashboard, 30 * 60 * 1000);
    </script>
</body>

{% endblock %}
